{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts.title|censor
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    <h1>Все новости: {{ posts|length }}</h1>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>

    {% if category_news_list %}
    <center>
        <h4>
            <table> <!-- Начинаем описывать таблицу -->
                <tr>
                    <td> Заглавие </td>
                    <td> Дата </td>
                    <td> Текст </td>
                    <td> Категории </td>
                </tr>

                {% for post in category_news_list %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{post.time_in|date:'M d Y'}}</td>
                    <td>{{ post.text|truncatechars:20 }}</td>
                    <td>
                        {% for category in post.category.all %}
                            <a href="{% url 'category_list' category.id %}" > {{category}}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </h4>
    </center>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}